@use "sass:math";
@import "../../../scss/stash-theme";
@import "../../../scss/stash-index";
@import "../../../scss/variables";
@import "../../../scss/mixins";

.PerformerCard {
  @include card;

  .image-container img {
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: top;
    width: 100%;
  }
}
