@use "sass:math";
@import "../../../scss/stash-theme";
@import "../../../scss/stash-index";
@import "../../../scss/variables";
@import "../../../scss/mixins";

.PerformerCard {
  @include card;
  width: 20rem;

  .image-container img {
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: top;
    width: 100%;
  }

  .primary-info,
  .age {
    padding-left: $card-padding-x;
    padding-right: $card-padding-x;
  }

  .primary-info {
    padding-top: $card-padding-y;
  }

  .name-info {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .disambiguation {
    color: $text-muted;
    font-size: $small-text;
  }

  .age {
    padding-bottom: $card-padding-y;
    color: $text-muted;
  }
}
