@use "sass:math";
@import "../../../scss/stash-theme";
@import "../../../scss/stash-index";
@import "../../../scss/variables";
@import "../../../scss/mixins";

.MiniButton {
  @include button;
  @include button-minimal;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  padding: 0.5rem;
  line-height: 1;

  & > svg ~ input,
  & > svg ~ span {
    margin-left: math.div($spacer, 2);
  }

  input {
    color: $body-color;
    border: 0;
    line-height: 1;
  }
}
