@use "sass:math";
@import "../../scss/stash-theme";
@import "../../scss/stash-index";
@import "../../scss/variables";
@import "../../scss/mixins";

.SceneInfoPanel {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  padding: $spacer;

  .studio-logo {
    display: flex;
    justify-content: center;
    margin-bottom: $spacer;

    img,
    svg {
      max-height: 6rem;
      max-width: 100%;

      font-size: 4rem;
    }
  }

  .title {
    @include title;
  }

  .date {
    color: $text-muted;
  }

  .stats {
    display: flex;
    list-style: none;
    margin-top: 2px;
    margin-bottom: 0;
    padding-left: 0;
    gap: math.div($spacer, 2);
  }

  @container (min-width: 400px) {
    .header {
      display: grid;
      grid-template-columns: [header-start logo-start] 6rem [logo-end text-start] auto [text-end header-end];
      grid-template-rows: [header-top title-top] auto [title-bottom studio-top] auto [studio-bottom header-bottom];
      column-gap: $spacer;

      .studio-logo {
        grid-column: logo-start/logo-end;
        grid-row: header-top/header-bottom;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;

        img {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }
}
