$white: #fff;
$black: #000;
$dark: #121212;

$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

$aquamarine-50: #ebfef7;
$aquamarine-100: #cefdea;
$aquamarine-200: #a2f8da;
$aquamarine-300: #66efc8;
$aquamarine-400: #22d4a7;
$aquamarine-500: #06c39a;
$aquamarine-600: #009f7e;
$aquamarine-700: #007f68;
$aquamarine-800: #006553;
$aquamarine-900: #025246;
$aquamarine-950: #002f28;

$cerulean-50: #f1f9fe;
$cerulean-100: #e3f1fb;
$cerulean-200: #c0e5f7;
$cerulean-300: #89d1f0;
$cerulean-400: #4ab9e6;
$cerulean-500: #229fd3;
$cerulean-600: #1481b5;
$cerulean-700: #126792;
$cerulean-800: #135779;
$cerulean-900: #154965;
$cerulean-950: #0e2f43;

$opal-50: #f3f6f5;
$opal-100: #e1eae5;
$opal-200: #c4d6ce;
$opal-300: #afc6bd;
$opal-400: #719689;
$opal-500: #51786b;
$opal-600: #3d5e54;
$opal-700: #304c44;
$opal-800: #283d37;
$opal-900: #22322e;
$opal-950: #121c1a;

$timber-green-50: #f2f7f4;
$timber-green-100: #dfece2;
$timber-green-200: #c2d8c9;
$timber-green-300: #99bca7;
$timber-green-400: #6c9b80;
$timber-green-500: #4c7d63;
$timber-green-600: #38634d;
$timber-green-700: #2d4f3e;
$timber-green-800: #254032;
$timber-green-900: #1c2f26;
$timber-green-950: #111d17;
