@mixin title {
  font-size: 1.5rem;
  @container (min-width: 500px) {
    font-size: 2rem;
  }
}

@mixin button-minimal {
  background: none;
  border: none;
  color: $text-color;
  transition: none;
}

@mixin button-accessible {
  min-height: 44px;
  min-width: 44px;
}
