@mixin title {
  font-size: 1.5rem;
  @container (min-width: 500px) {
    font-size: 2rem;
  }
}

@mixin button-minimal {
  background: none;
  border: none;
  color: $text-color;
  transition: none;
}

@mixin button-accessible {
  min-height: 44px;
  min-width: 44px;
}

@mixin card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);

  background-color: $card-bg;
  border-radius: $card-border-radius;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.4), 0 0 rgba(16, 22, 26, 0),
    0 0 rgba(16, 22, 26, 0);
  overflow: hidden;
}
