// https://github.com/stashapp/stash/blob/0621d87133a9e810687e0da27fd3ea65095873a0/ui/v2.5/src/styles/_theme.scss

/* Blueprint dark theme */

$prefix: "reels-";

$secondary: #394b59;
$muted-gray: #bfccd6;
$success: #0f9960;
$warning: #d9822b;
$danger: #db3737;

$theme-colors: (
  primary: #137cbd,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  danger: $danger,
  dark: #394b59,
);

$body-bg: #202b33;
$text-color: #f5f8fa;
$body-color: $text-color;
$text-muted: $muted-gray;
$link-color: #48aff0;
$link-hover-color: $link-color;
$pre-color: $text-color;
$navbar-dark-color: rgb(245, 248, 250);
$popover-bg: $secondary;
$dark-text: #182026;
$textfield-bg: rgba(16, 22, 26, 0.3);
$card-bg: #30404d;
$card-cap-bg: rgba(#000, 0.03);

/* stylelint-disable */
@import "bootstrap/scss/bootstrap.scss";
/* stylelint-enable */

$red1: #a82a2a;
$orange1: #a66321;
$sepia1: #63411e;
$dark-gray2: #202b33;
$dark-gray5: #394b59;

.btn-light {
  --#{$prefix}btn-color: #000;
  --#{$prefix}btn-bg: #f8f9fa;
  --#{$prefix}btn-border-color: #f8f9fa;
  --#{$prefix}btn-hover-color: #000;
  --#{$prefix}btn-hover-bg: #d3d4d5;
  --#{$prefix}btn-hover-border-color: #c6c7c8;
  --#{$prefix}btn-focus-shadow-rgb: 211, 212, 213;
  --#{$prefix}btn-active-color: #000;
  --#{$prefix}btn-active-bg: #c6c7c8;
  --#{$prefix}btn-active-border-color: #babbbc;
  --#{$prefix}btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --#{$prefix}btn-disabled-color: #000;
  --#{$prefix}btn-disabled-bg: #f8f9fa;
  --#{$prefix}btn-disabled-border-color: #f8f9fa;
}
