@use "sass:math";
@use "./colors";

:root {
  /* ------------------------------------------- Common ------------------------------------------- */

  --border-radius: 0;
  --border-width: 2px;

  --disabled-opacity: 0.65;

  --transition-base: all 0.2s ease-in-out;

  $spacer: math.div(1rem, 1.6);
  $spacer-sm: math.div($spacer, 2);
  --spacer: #{$spacer};
  --spacer-sm: #{$spacer-sm};

  /* ------------------------------------------- Colors ------------------------------------------- */

  --primary-50: #{colors.$aquamarine-50};
  --primary-100: #{colors.$aquamarine-100};
  --primary-200: #{colors.$aquamarine-200};
  --primary-300: #{colors.$aquamarine-300};
  --primary-400: #{colors.$aquamarine-400};
  --primary-500: #{colors.$aquamarine-500};
  --primary-600: #{colors.$aquamarine-600};
  --primary-700: #{colors.$aquamarine-700};
  --primary-800: #{colors.$aquamarine-800};
  --primary-900: #{colors.$aquamarine-900};
  --primary-950: #{colors.$aquamarine-950};

  --body-bg: #{colors.$dark};
  --body-color: #{colors.$gray-50};

  --link-color: var(--primary-400);
  --link-decoration-line: none;
  --link-transition: none;

  --link-hover-color: var(--primary-100);

  /* ----------------------------------------- Typography ----------------------------------------- */

  $font-size-base: 1rem;
  $line-height-base: 1.5;
  --font-family-base: var(--font-roboto);
  --font-size-base: #{$font-size-base};
  --font-weight-base: 300;
  --line-height-base: #{$line-height-base};

  /* ------------------------------------------- Buttons ------------------------------------------ */

  --button-padding-x: 0.75rem;
  --button-padding-y: 0.375rem;
  --button-font-family: var(--font-family-base);
  --button-font-size: var(--font-size-base);
  --button-font-weight: 300;
  --button-line-height: var(--line-height-base);
  --button-color: #{colors.$gray-300};
  --button-bg: #{colors.$gray-900};
  --button-border-width: var(--border-width);
  --button-border-color: #{colors.$gray-600};
  --button-border-radius: var(--border-radius);
  --button-transition: var(--transition-base);

  --button-hover-color: #{colors.$gray-300};
  --button-hover-bg: #{colors.$dark};
  --button-hover-border-color: #{colors.$gray-300};

  --button-focus-color: var(--primary-400);
  --button-focus-bg: #{colors.$dark};
  --button-focus-border-color: var(--primary-400);

  --button-disabled-opacity: var(--disabled-opacity);

  /* -------------------------------------------- Tags -------------------------------------------- */

  --tag-link-padding-x: 1.5rem;
  --tag-link-padding-y: 0.5rem;
  --tag-link-font-family: var(--font-family-base);
  --tag-link-font-size: var(--font-size-base);
  --tag-link-font-weight: var(--font-weight-base);
  --tag-link-line-height: var(--line-height-base);
  --tag-link-color: #{colors.$gray-300};
  --tag-link-bg: #{colors.$gray-900};
  --tag-link-border-width: var(--border-width);
  --tag-link-border-color: var(--tag-link-bg);
  --tag-link-border-radius: #{$font-size-base * $line-height-base};
  --tag-link-transition: var(--transition-base);

  --tag-link-hover-color: var(--body-color);
  --tag-link-hover-bg: #{colors.$dark};
  --tag-link-hover-border-color: var(--tag-link-border-color);

  --tag-link-disabled-opacity: var(--disabled-opacity);

  --tag-link-focus-color: var(--primary-400);
  --tag-link-focus-border-color: var(--tag-link-focus-color);

  // Tag list
  --tag-list-item-gap: var(--spacer);
}
