@use "sass:math";

:root {
  /* ------------------------------------------- Common ------------------------------------------- */

  --border-radius: 0.375rem;
  --border-width: 1px;

  --disabled-opacity: 0.65;

  --focus-ring-width: 0.25rem;

  --transition-base: all 0.2s ease-in-out;

  --spacer: #{math.div(1rem, 1.6)};

  /* ------------------------------------------- Colors ------------------------------------------- */

  $white: #fff;
  $black: #000;
  $dark: #121212;

  $gray-50: #fafafa;
  $gray-100: #f5f5f5;
  $gray-200: #eeeeee;
  $gray-300: #e0e0e0;
  $gray-400: #bdbdbd;
  $gray-500: #9e9e9e;
  $gray-600: #757575;
  $gray-700: #616161;
  $gray-800: #424242;
  $gray-900: #212121;

  --body-bg: #{$dark};
  --body-color: #{$gray-50};

  --link-color: var(--body-color);

  /* ----------------------------------------- Typography ----------------------------------------- */

  --font-family-base: var(--font-roboto);
  --font-size-base: 1rem;
  --font-weight-base: 300;
  --line-height-base: 1.5;

  /* -------------------------------------------- Tags -------------------------------------------- */

  --tag-link-padding-x: 1.5rem;
  --tag-link-padding-y: 0.5rem;
  --tag-link-font-family: var(--font-family-base);
  --tag-link-font-size: var(--font-size-base);
  --tag-link-font-weight: var(--font-weight-base);
  --tag-link-line-height: var(--line-height-base);
  --tag-link-color: #{$gray-300};
  --tag-link-bg: #{$gray-900};
  --tag-link-border-width: 2px;
  --tag-link-border-color: var(--tag-link-bg);
  --tag-link-border-radius: 1.5rem;
  --tag-link-transition: var(--transition-base);

  --tag-link-hover-color: var(--body-color);
  --tag-link-hover-bg: #{$dark};
  --tag-link-hover-border-color: var(--tag-link-border-color);

  --tag-link-disabled-opacity: var(--disabled-opacity);

  --tag-link-focus-color: var(--body-color);
  --tag-link-focus-border-color: var(--tag-link-focus-color);

  // Tag list
  --tag-list-item-gap: var(--spacer);
}
